@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Forms
@using WalliCardsNet.ClassLibrary.BusinessProfile
@using WalliCardsNet.ClassLibrary.Card
@using WalliCardsNet.Client.Components.Business
@using WalliCardsNet.Client.Models
@using WalliCardsNet.Client.Components.PassDesigner
@using WalliCardsNet.Client.Services
@inject WalliCardsApiService WalliCardsApiService;

@if (BusinessProfile != null)
{
    <button class="btn btn-primary" @onclick="CopyDesign">Copy design from Google Pass</button>
    <div style="display:flex; flex-direction:row; gap: 1rem; margin-top: 1rem;">
        <div>
            <h3>Edit</h3>
            <EditForm Model="Card">
                <div>
                    <label>Title:</label>
                    <InputText @bind-Value="Title"></InputText>
                </div>
                <div>
                    <Switch @bind-Value="UseWideLogo" @bind-Value:after="() => SetLogoType(UseWideLogo)"></Switch>
                    @if (UseWideLogo)
                    {
                        <p>Wide Logo</p>
                    }
                    else
                    {
                        <p>Small Logo</p>
                    }
                </div>
                <div>
                    @if (!UseWideLogo)
                    {
                        <label>Logo Url:</label>
                        <InputText @bind-Value="LogoUrl"></InputText>
                        @if (string.IsNullOrEmpty(LogoUrl))
                        {
                            <label>Preview</label>
                            <InputCheckbox @bind-Value="PreviewLogo"></InputCheckbox>
                        }
                    }
                    @if (UseWideLogo)
                    {
                        <label>Wide Logo Url:</label>
                        <InputText @bind-Value="WideLogoUrl"></InputText>
                        @if (string.IsNullOrEmpty(LogoUrl))
                        {
                            <label>Preview</label>
                            <InputCheckbox @bind-Value="PreviewLogo"></InputCheckbox>
                        }
                    }
                </div>
                <div>
                    <label>Hero Image:</label>
                    <InputText @bind-Value="HeroImageUrl"></InputText>
                    @if (string.IsNullOrEmpty(HeroImageUrl))
                    {
                        <label>Preview</label>
                        <InputCheckbox @bind-Value="PreviewHeroImage"></InputCheckbox>
                    }
                </div>
                <div>
                    <label>Background Color</label>
                    <input type="color" @bind="BackgroundColor" @bind:after="OnFieldChange"/>
                </div>
                <div>
                    <label>Text Color</label>
                    <input type="color" @bind="TextColor" @bind:after="OnFieldChange"/>
                </div>
                <div>
                    <button @onclick="CreateField">Create Field</button>
                    @foreach (var field in Fields)
                    {
                        <div>
                            <InputText @bind-Value="field.FieldName" placeholder="Field name" />
                            <InputSelect @bind-Value="field.FieldType">
                                <option value="text">Text</option>
                                <option value="email">Email</option>
                                <option value="number">Number</option>
                                <option value="date">Date</option>
                                <option value="checkbox">Checkbox</option>
                            </InputSelect>
                            <label>Required field</label>
                            <InputCheckbox @bind-Value="field.IsRequired" />
                            <button type="button" @onclick="() => DeleteField(field)">Delete Field</button>
                        </div>
                    }
                </div>
            </EditForm>
        </div>
        <JoinForm Title="@Title"
                    BusinessName="@BusinessName"
                    BackgroundColor="@BackgroundColor"
                    TextColor="@TextColor"
                    UseWideLogo="@UseWideLogo"
                    LogoUrl="@LogoUrl"
                    WideLogoUrl="@WideLogoUrl"
                    HeroImageUrl="@HeroImageUrl"
                    PreviewLogo="@PreviewLogo"
                    PreviewHeroImage="@PreviewHeroImage"
                    Fields="@Fields">
        </JoinForm>
    </div> 

}

@code {
    [Parameter]
    public string Token { get; set; }

    [Parameter]
    public BusinessProfileRequestDTO BusinessProfile { get; set; }

    [Parameter]
    public string BusinessName { get; set; }

    public CardRequestDTO Card { get; set; } = new CardRequestDTO();

    public List<CardField> Fields { get; set; } = new List<CardField>();

    // public string Title { get; set; } = "";
    // public string LogoUrl { get; set; } = "";
    // public string WideLogoUrl { get; set; } = "";
    // public string HeroImageUrl { get; set; } = "";
    // public string BackgroundColor { get; set; } = "#ffffff"; 
    // public string TextColor { get; set; } = "#000000"; 

    private string _title;
    public string Title
    {
        get => _title;
        set
        {
            if (_title != value)
            {
                _title = value;
                OnFieldChange();  // Trigger method when Title changes
            }
        }
    }

    private string _logoUrl;
    public string LogoUrl
    {
        get => _logoUrl;
        set
        {
            if (_logoUrl != value)
            {
                _logoUrl = value;
                OnFieldChange();  // Trigger method when LogoUrl changes
            }
        }
    }

    private string _wideLogoUrl;
    public string WideLogoUrl
    {
        get => _wideLogoUrl;
        set
        {
            if (_wideLogoUrl != value)
            {
                _wideLogoUrl = value;
                OnFieldChange();  // Trigger method when WideLogoUrl changes
            }
        }
    }

    private string _heroImageUrl;
    public string HeroImageUrl
    {
        get => _heroImageUrl;
        set
        {
            if (_heroImageUrl != value)
            {
                _heroImageUrl = value;
                OnFieldChange();  // Trigger method when HeroImageUrl changes
            }
        }
    }

    private string _backgroundColor;
    public string BackgroundColor
    {
        get => _backgroundColor;
        set => _backgroundColor = value;
    }

    private string _textColor;
    public string TextColor
    {
        get => _textColor;
        set => _textColor = value;
    }


    public string LastCardTitle = "";
    public string LogoType { get; set; } = "small";
    public string Message { get; set; } = "";
    public bool PreviewLogo { get; set; } = false;
    public bool PreviewHeroImage { get; set; } = false;
    public bool UseWideLogo { get; set; } = false;


    private void OnFieldChange()
    {
        UpdateFieldsJson();
        UpdateCssOptionsJson(); 
    }

    public async Task CreateField()
    {
        Fields.Add(new CardField { FieldName = "", FieldType = "", Label = "", IsRequired = false });
        StateHasChanged();
    }

    public async Task DeleteField(CardField field)
    {
        Fields.Remove(field);
    }

    private void SetLogoType(bool UseWideLogo)
    {
        switch (UseWideLogo)
        {
            case false:
                if (!string.IsNullOrEmpty(LastCardTitle))
                {
                    BusinessProfile.GooglePassTemplate.CardTitle = LastCardTitle;
                    LastCardTitle = "";
                }
                break;

            case true:
                LastCardTitle = BusinessProfile.GooglePassTemplate.CardTitle;
                BusinessProfile.GooglePassTemplate.CardTitle = "";
                break;

            default:
                break;
        }
        StateHasChanged();
    }

    private void CopyDesign()
    {
        Title = BusinessProfile.GooglePassTemplate.CardTitle;
        LogoUrl = BusinessProfile.GooglePassTemplate.LogoUrl;
        WideLogoUrl = BusinessProfile.GooglePassTemplate.WideLogoUrl;
        HeroImageUrl = BusinessProfile.GooglePassTemplate.HeroImage;
        BackgroundColor = BusinessProfile.GooglePassTemplate.HexBackgroundColor;
    }

    private void UpdateFieldsJson()
    {
        Console.WriteLine("Updating fields");
        BusinessProfile.JoinFormTemplate.FieldsJson = System.Text.Json.JsonSerializer.Serialize(Fields);
        Console.WriteLine($"Fields: {BusinessProfile.JoinFormTemplate.FieldsJson}");
    }

    private void UpdateCssOptionsJson()
    {
        Console.WriteLine("Updating CSS Options");
        BusinessProfile.JoinFormTemplate.CSSOptionsJson = System.Text.Json.JsonSerializer.Serialize(new Dictionary<string, string>
        {
            {"background-color", BackgroundColor},
            {"color", TextColor}
        });
        Console.WriteLine($"CSS Options: {BusinessProfile.JoinFormTemplate.CSSOptionsJson}");
    }
}